select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 102, 102,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102, 102, 102,0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 102, 102,0.6);
}
input[type="text"]:focus {
	border: solid 1px rgba(102, 102, 102, 0.0)  !important;
}
/**/
input.searchfield, .dir-search input {
	border-radius: 10px;
}

::-webkit-scrollbar{width:10px;height:10px;}
::-webkit-scrollbar-button:vertical:increment{background-color:transparent;}
::-webkit-scrollbar-track:enabled{background-color:rgba(113,112,107,0.1);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb{height:50px;background-color:rgba(0,0,0,.2);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)}
::-webkit-scrollbar-track:hover {background-color: rgba(0,0,0,.1);box-shadow: inset 1px 1px 0 rgba(0,0,0,.1)}
::-webkit-scrollbar-button{height:0;width:0}

[contenteditable=true]{
font-size:21px;
font-family: 微软雅黑, 黑体, sans-serif;
text-shadow:rgb(0, 0, 0) 2px 4px 7px;
}
.animate{
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}

/*高亮今天的日期*/
td#today { font-weight: bold;background-color: rgb(255, 234, 234);  color: rgb(207, 0, 0);font-size: 15px;}

img[src*=sinaimg]{cursor: -webkit-zoom-in;}
img[src*=sinaimg][src*=large]{cursor:-webkit-zoom-out ;}

img[src*=theotherdoor-wp][src*='150x150']{cursor: -webkit-zoom-in;}
img[src*=theotherdoor-wp]{cursor:-webkit-zoom-out;}

img[src*=sinaimg],img[src*=theotherdoor-wp]{margin: 1px;border: 1px solid rgb(241, 241, 241);border-radius: 3px;-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 24px -10px;-moz-box-shadow: rgb(0, 0, 0) 0px 0px 24px -10px;box-shadow: rgb(0, 0, 0) 0px 0px 24px -10px;}

#fixedImg{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.780392); }
#fixedImg #img{position: absolute;}
#fixedImg img[src*=theotherdoor],#fixedImg img[src*=sinaimg]{cursor:move;border-radius:5px;}

